<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <!-- <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" /> -->

    <link rel="stylesheet" href="/style/media.css">
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="welcome">
            <h1>Welcome</h1>
        </div>

        <nav class="nav-1">
            <div class="text">

                <a href="/">
                    <h1>Rayan</h1>

                </a>
            </div>

            <ul>
                <a href="/">
                    <li>Home</li>

                </a>
                <a href="#about">
                    <li>About</li>

                </a>
                <a href="#services">

                    <li>Services</li>
                </a>
                <a href="#contact">

                    <li>Contact</li>
                </a>
            </ul>
        </nav>

        <div class="hero">
            <div class="layer"></div>
            <div class="div-1">
                <!-- <h1>Ryan Nadeem</h1> -->
                <h2>SEO Expert | SEO Specialist</h2>
                <p>I’m Rayan Nadeem, an experienced SEO expert dedicated to helping businesses in Pakistan or the global market achieve top search engine rankings and drive organic growth.
                </p>
            </div>

           
            </div> 
        </div>



        <section class="section-3" id="about">
            <div class="content">
                <div class="img">
                    <img src="/img/rayan2.jpeg" alt="">
                </div>
                <div class="text">
                    <h1>About <span>Me </span></h1>
                    <p>Hello! I'm Rayan Nadeem, a Highly experienced and results-driven SEO expert with three years of
                        expertise in crafting and implementing effective search engine optimization strategies that
                        drive website traffic, boost conversions, and enhance brand visibility. I specialize in
                        Blogging, Guest Posting, Link Building, Content Writing, Site Audit and Keyword Researching.
                        With a passion for creating valuable content and boosting online visibility, I’ve helped
                        numerous brands and websites grow their digital presence. From crafting compelling articles to
                        optimizing them for search engines, I ensure every piece I write not only engages readers but
                        also ranks well. Whether you're looking for expert guest posts, high-quality content, or SEO
                        strategies that work, I’m here to help your blog stand out and succeed.</p>




                    <button>My Resume</button>
                </div>
            </div>
        </section>


        <section class="section-2">
            <h1>MY <span>Services</span></h1>
            <div class="boxes">
                <div class="box-1 box">
                    <i class="fa-solid fa-filter"></i>
                    <h2>Offpage seo</h2>
                    <p>Off-page SEO enhances site authority through backlinks, social media engagement, and external
                        signals, boosting search engine rankings and online reputation.</p>
                </div>
                <div class="box-2 box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <h2>Content writing</h2>
                    <p>Boost your online presence with our professional content writing services. We create engaging,
                        SEO-friendly, and high-quality content tailored to your audience, helping your business stand
                        out and drive results. Let us bring your ideas to life with words that work!</p>
                </div>
                <div class="box-3 box">
                    <i class="fa-solid fa-gear"></i>
                    <h2>Keyword research</h2>
                    <p>Keyword research identifies relevant search terms or keywords to target, guiding content creation
                        and SEO strategy to attract and engage the desired audience.
                    </p>
                </div>
                <div class="box-4 box">
                    <i class="fa-solid fa-book"></i>
                    <h2>On page seo</h2>
                    <p>On-page SEO optimizes individual web pages, focusing on content, meta tags, and HTML source code
                        to improve search engine rankings and user experience.</p>
                </div>
                <div class="box-5 box">
                    <i class="fa-solid fa-bookmark"></i>
                    <h2>Technical seo</h2>
                    <p>Technical SEO improves site infrastructure, including crawlability, site speed, and
                        mobile-friendliness, ensuring search engines can effectively access and rank your content.</p>
                </div>
                <div class="box-6 box">
                    <i class="fa-solid fa-cloud"></i>
                    <h2>Wordpress developer</h2>
                    <p>Transform your online presence with expert WordPress development services. From custom themes to
                        seamless functionality, I create responsive, user or Adsense friendly websites that enhance your
                        brand and deliver results. Let’s build the website you’ve always envisioned!
                    </p>

                </div>
            </div>
        </section>

        <section class="section-4">
            <div class="numbers">
                <div class="clients">
                    <h1 class="num num-1">21+</h1>
                    <h3>Happy Clients</h3>
                </div>
                <div class="work">
                    <h1 class="num num-2">99%</h1>
                    <h3>Work Quality</h3>
                </div>
                <div class="project">
                    <h1 class="num num-3">30</h1>
                    <h3>Projects Completed</h3>
                </div>
            </div>
        </section>

        <section class="section-5">

            <h1>Why Choose Me</h1>

            <div class="text">
                <p>You should choose me as your SEO work for remote jobs. With over three years of hands-on experience
                    in SEO, I’ve successfully helped clients boost their brand visibility and achieve long-term results.
                    My comprehensive approach includes detailed in providing high-quality Guest Posts across various
                    niches to drive targeted traffic. 🚀<br><br>
                    As a skilled content writer ✍️, I craft SEO-friendly content that not only generates impressions but
                    also increases clicks. 📈 Additionally, my expertise in keyword research ensures I find the most
                    effective keywords to rank your site higher on search engines. 🔑<br><br>
                    Let’s work together to enhance your online presence and take your business to the next level! 💻
                </p>
            </div>
        </section>

        <section class="section-6" id="services">
            <h1>Opportunities</h1>
            <div class="services">
                <div class="service service-1">
                    <h2>Increase Organic Traffic</h2>
                </div>
                <div class="service service-2">
                    <h2>Enhance User Experience</h2>
                </div>
                <div class="service service-3">
                    <h2> Boost Conversion Rate</h2>
                </div>
                <!-- <div class="service service-4">
                    <h2>Increase Traffic</h2>
                </div> -->
            </div>
            <div class="service-box">
                <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit impedit pariatur, ipsam
                    ab, repellat ipsa, commodi dolorum consequatur quod architecto voluptatem eligendi soluta ad ducimus
                    blanditiis modi dicta voluptate est labore iure in voluptatum vero! Suscipit dolore doloribus iste
                    recusandae rem, voluptas error sed necessitatibus, culpa sit esse, est in!</p>
            </div>
        </section>

        <section class="section-7">
            <div class="sub-section-1">
                <div class="text">
                    <h1>Business Plans</h1>
                    <h2>My SEO Plans</h2>
                    <p>Effective SEO strategies not only increase your site’s ranking but also build brand credibility
                        and customer trust.</p>

                    <div class="boxes">
                        <div class="box-1 box">
                            <i class="fa-solid fa-circle-check"></i>
                            <h3>SEO Site Audit</h3>
                            <p>Perform a detailed analysis of your website to identify issues, assess current performance, and create a roadmap for improvements.</p>
                        </div>
                        <div class="box-2 box">
                            <i class="fa-solid fa-circle-check"></i>
                            <h3>Technical Audit</h3>
                            <p>Evaluate a website's infrastructure, ensuring proper indexing, mobile-friendliness, speed, and compliance with search engine guidelines</p>
                        </div>
                        <div class="box-3 box">
                            <i class="fa-solid fa-circle-check"></i>
                            <h3>SEO Reporting</h3>
                            <p>Provide regular, detailed reports on SEO progress, including traffic, rankings, and key performance indicators (KPIs).</p>
                        </div>
                        <div class="box-4 box">
                            <i class="fa-solid fa-circle-check"></i>
                            <h3>SEO Due Diligence</h3>
                            <p>Assessing a website’s optimization, performance, and compliance with best practices to enhance visibility and rankings.</p>
                        </div>
                    </div>
                </div>
                <div class="img">
                    <img src="/img/man-holding-laptop.jpg" alt="">
                </div>
            </div>
            <div class="sub-section-2">
                <div class="img">
                    <img src="/img/Group-Discussion.jpg" alt="">
                </div>
                <div class="text">
                    <h3>Why Choose Me as Your SEO Expert in Pakistan?</h3>
                    <p>You should choose me as your SEO expert in Pakistan because I bring a deep understanding of the
                        local market and also global market combined with a proven track record of delivering successful
                        SEO strategies. My comprehensive approach includes detailed Guest Posting, Content Writing,
                        effective Keyword Research, On-page and technical optimization, robust link-building and content
                        marketing strategies.
                        <br><br>With over <b>three</b> years of experience in the SEO industry, I have successfully
                        worked with numerous clients across various sectors, helping them achieve top search engine
                        rankings and significant business growth. My expertise is backed by a solid portfolio of
                        successful projects and satisfied clients who have seen measurable improvements in their online
                        presence and business performance.
                    </p>
                    <a href="mailto:rayannadeem989@gmail.com">

                        <button>Get in Touch <i class="fa-solid fa-arrow-right"></i></button>
                    </a>
                </div>
            </div>
        </section>

        <section class="section-8" id="contact">
            <h1>Contact <span>Me</span></h1>
            <div class="contact">
                <div class="sub-section-1">
                    <h1>Get In Touch</h1>
                    <p>
                        Have any questions or want to collaborate? I'm here to help! Fill out the form below, and I'll respond within 24-48 hours. Your input matters, and I look forward to connecting with you!
                    </p>
                    <div class="email"><i class="fa-solid fa-envelope"></i><a href="mailto:rayannadeem989@gmail.com">rayannadeem989@gmail.com</a></div>
                    <div class="socials">
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                </div>
                <div class="sub-section-2">
                    <form action="/contact" method="POST">
                        <label for="name">Name:</label>
                        <input type="text" name="name" placeholder="Name">
                        <label for="email">Email:</label>
                        <input type="text" name="email" placeholder="Email">
                        <label for="message">Message:</label>
                        <textarea name="message" id="" placeholder="Message"></textarea>
                        <button>Send</button>
                    </form>
                </div>
            </div>

        </section>

        <footer>
            <div class="text">
                <p>Copyright © 2024 Rayan Nadeem</p>
            </div>
            <div class="socials">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-facebook"></i>


            </div>
        </footer>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="/script/home.js"></script>
</body>

</html>